/* font-family: 'Montserrat Subrayada', sans-serif; */
/* font-family: 'Montserrat', sans-serif; */
*,
*::before,
*:after {
  box-sizing: border-box;
}

body {
  color: #343434;
  font-family: "Montserrat", sans-serif;
  background: white;
}
.wrapper {
  margin: 20px 40px;
}

/* Nav bar */
/* NavLink Style */
.nav {
  margin: 20px 0;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.nav-link {
  text-decoration: none;
  font-size: 1.2em;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  padding: 5px 15px;
  /* margin-right: 20px; */
  color: #e73131;
}
.nav-link:nth-of-type(1) {
  margin-right: 20px;
}

.active {
  color: white;
  background: #ff4856;
  border-radius: 3px;
}

.nav-link:hover,
.nav-link:active,
.nav-link:focus {
  color: white;
  background: #ff4856;
  border-radius: 3px;
}

.logo {
  font-size: 4em;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #ff4856;
  text-transform: uppercase;
  letter-spacing: -6px;
  line-height: 0.8em;
  white-space: nowrap;
  text-decoration: none;
}

/* Child Component Style */
/* Search */
.search-container {
  display: flex;
  flex-direction: row;
  border: #9a9191 2px solid;
  border-radius: 3px;
}

.search-container input {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8em;
  border: none;
  width: 180px;
  color: #9a9191;
  line-height: 1.2em;
  padding: 5px 10px;
}

.search-btn {
  background-color: transparent;
  border: none;
  padding: 0 5px;
}

/* Child Component Style */
/* Home */
.home-body {
  margin-top: 80px;
}
.date-result {
  margin: 20px 0;
  opacity: 0.5;
}

h2 {
  color: #537dcc;
}

h3 {
  color: #38bf57;
}

/* Child Component Style */
/* About */
.about-body h2 {
  color: #679cff;
}
.about-body a {
  color: #38bf57;
}
.about-body a:hover,
.about-body a:focus,
.about-body a:active {
  color: #679cff;
}

footer {
  margin: 80px 0 20px 0;
  padding: 20px;
  background: #ff4856;
  color: white;
  text-align: center;
}

footer a {
  color: white;
  text-decoration: none;
}
